<div class="container-fluid">
  <div class="img">
    <img src="../../assets/images/blue-wall-face.jpg" alt="blue-wall" >
  </div>
  <div class="container">
    <div class="angent_text">
      <h3><span>\\</span> Send at an agent location</h3>
      <p>Transfer money in minutes</p>
      <p>Transact at more than 5,700 locations in the UK***</p>
      <p>Pay in cash</p>
      <a href="#" class="btn">
          <span class="btn-content">Find location</span>
          <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
      </a>
    </div>
  </div>
</div>

