<div class="container-fluid">
  <hr>
    <div class="row">
      <div class="col-xl ct-left">
        <div class="connection-text">
          <h3><span>\\</span> Your money in Poland in minutes</h3>
          <p>Enjoy great transfer fees</p>
          <p>Send with our app, online or at agent locations</p>
          <p>Get money straight to your loved ones’ bank account</p>
          <p>Transfer in minutes to more than 7,200 locations in Poland</p>
          <p>150+ years of experience in moving money</p>
          <a href="#" class="btn">
              <span class="btn-content">Send money now</span>
              <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
          </a>
        </div>
      </div>
      <div class="col-xl ct-right">
        <img src="../../assets/images/network-1614045_1920.png" alt="network" class="img-fluid">
      </div>
  </div>
</div>
