<div class="container-fluid">
  <div class="pho-image">
    <img src="../../assets/images/phone.jpg" alt="phone" class="img-fluid">
  </div>
  <div class="cont-rig">
    <h3><span>\\</span>Send on the go with our app</h3>
    <p>Check fees and exchange rates in advance</p>
    <p>Transfer money in minutes, 24/7</p>
    <p>Pay with your credit card, bank account or in cash</p>
    <p>Set up in the app, pay at an agent location</p>
    <p>Track your transfers in real time</p>
    <p>Enjoy easy repeat transfers</p>
    <div class="two-btn">
      <a href="#"><img src="../../assets/images/google-play-badge.png" alt="Google Play" id="google"></a>
      <a href="#"><img src="../../assets/images/kisspng-iphone-app-store-apple-store-stock-5b4cf600785011.4631193815317703684928.png" alt="Apple Store"></a>
    </div>
  </div>
</div>
<hr>
